<?xml version="1.0" encoding="utf-8"?>
<Media Key="e83380bc-c2d6-482b-aab8-d0a9b9b930e8" Alias="02.svg" Level="2">
  <Info>
    <Parent Key="eb6e46a9-410f-4e50-84a5-4c2410502e8f">Logos</Parent>
    <Path>/Logos/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T21:26:14</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jy4jccwn/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>