<?xml version="1.0" encoding="utf-8"?>
<Media Key="14f3c839-2f5d-4ffd-9a69-de861c8b11c9" Alias="03.svg" Level="2">
  <Info>
    <Parent Key="eb6e46a9-410f-4e50-84a5-4c2410502e8f">Logos</Parent>
    <Path>/Logos/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T21:26:14</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zn0fd3sg/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>