<?xml version="1.0" encoding="utf-8"?>
<Media Key="37f98d09-2f71-4377-ab0e-564e93df46db" Alias="05.svg" Level="2">
  <Info>
    <Parent Key="eb6e46a9-410f-4e50-84a5-4c2410502e8f">Logos</Parent>
    <Path>/Logos/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T21:26:14</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5myfxvlk/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>