<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6ce07fe-11bf-4d74-a7c6-afd00cde5cf6" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="eb6e46a9-410f-4e50-84a5-4c2410502e8f">Logos</Parent>
    <Path>/Logos/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T21:26:14</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bs3gyrfe/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>