<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbbaf85d-1bdb-430c-b98c-4d4a488b5659" Alias="AboutUs.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T22:15:01</CreateDate>
    <NodeName Default="AboutUs.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v3cbqwoa/aboutus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>