<?xml version="1.0" encoding="utf-8"?>
<Media Key="d02eea77-ab20-465a-89d7-e226d093dd2c" Alias="AJ.svg" Level="2">
  <Info>
    <Parent Key="b4394722-3e33-4368-8e58-a6034bcb5a45">Team Members</Parent>
    <Path>/TeamMembers/AJsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T16:00:02</CreateDate>
    <NodeName Default="AJ.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qvljymr1/aj.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>