<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b02455e-2470-45f4-abdc-01e520c07367" Alias="assurance.svg" Level="2">
  <Info>
    <Parent Key="274ab130-0bd9-42a9-93ed-915d2ff58935">Services</Parent>
    <Path>/Services/assurancesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T14:17:30</CreateDate>
    <NodeName Default="assurance.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vt2ka4ll/assurance.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>