<?xml version="1.0" encoding="utf-8"?>
<Media Key="21dc2083-96f8-4d53-b834-658269294296" Alias="BrandonKerr.svg" Level="2">
  <Info>
    <Parent Key="b4394722-3e33-4368-8e58-a6034bcb5a45">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T16:00:02</CreateDate>
    <NodeName Default="BrandonKerr.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ogoh3q5d/brandonkerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>