<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e7a11f9-63f8-4f48-885b-733b885dfc62" Alias="BrandonNewton.svg" Level="2">
  <Info>
    <Parent Key="b4394722-3e33-4368-8e58-a6034bcb5a45">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T16:00:02</CreateDate>
    <NodeName Default="BrandonNewton.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bownr1hd/brandonnewton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>