<?xml version="1.0" encoding="utf-8"?>
<Media Key="b41e80a6-380f-4692-82b2-65ec6ca271a0" Alias="BrandonNewton.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T15:59:23</CreateDate>
    <NodeName Default="BrandonNewton.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kq4lyvqu/brandonnewton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>