<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e3f7a80-249d-4130-b811-7931c3479a78" Alias="financial.svg" Level="2">
  <Info>
    <Parent Key="274ab130-0bd9-42a9-93ed-915d2ff58935">Services</Parent>
    <Path>/Services/financialsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T14:17:30</CreateDate>
    <NodeName Default="financial.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oldj1leg/financial.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>