<?xml version="1.0" encoding="utf-8"?>
<Media Key="515f931a-5129-4c14-bda0-b9a3d8f9e28c" Alias="heroImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heroImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T12:36:31</CreateDate>
    <NodeName Default="heroImage.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3axp1mzs/heroimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>