<?xml version="1.0" encoding="utf-8"?>
<Media Key="b17a4fd1-b5ab-43ed-8ee0-d82ef2b36042" Alias="Kevin.svg" Level="2">
  <Info>
    <Parent Key="b4394722-3e33-4368-8e58-a6034bcb5a45">Team Members</Parent>
    <Path>/TeamMembers/Kevinsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T16:00:02</CreateDate>
    <NodeName Default="Kevin.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/epznqu3q/kevin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>