<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb6e46a9-410f-4e50-84a5-4c2410502e8f" Alias="Logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-12T21:25:57</CreateDate>
    <NodeName Default="Logos" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>