<?xml version="1.0" encoding="utf-8"?>
<Media Key="e45d1eb4-0079-42fe-b445-12265fb75055" Alias="map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T15:51:08</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i0rp4btc/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>