<?xml version="1.0" encoding="utf-8"?>
<Media Key="658ee36b-4c75-4292-828c-3000ddd59bf6" Alias="OnatrixLoga.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixLogasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T17:10:03</CreateDate>
    <NodeName Default="OnatrixLoga.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tfpczb1o/onatrixloga.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>