<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd650059-259e-448c-a37c-fb4703a39a2d" Alias="risk.svg" Level="2">
  <Info>
    <Parent Key="274ab130-0bd9-42a9-93ed-915d2ff58935">Services</Parent>
    <Path>/Services/risksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T14:17:31</CreateDate>
    <NodeName Default="risk.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vo4nop2f/risk.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>