<?xml version="1.0" encoding="utf-8"?>
<Media Key="050d933f-401b-4e91-ba47-316733183795" Alias="service-body.svg" Level="2">
  <Info>
    <Parent Key="274ab130-0bd9-42a9-93ed-915d2ff58935">Services</Parent>
    <Path>/Services/serviceBodysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T15:59:03</CreateDate>
    <NodeName Default="service-body.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zuxk5zya/service-body.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>