<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e97deeb-00a9-41ee-91b9-165566afe5a9" Alias="Service-body-top.svg" Level="2">
  <Info>
    <Parent Key="274ab130-0bd9-42a9-93ed-915d2ff58935">Services</Parent>
    <Path>/Services/ServiceBodyTopsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T16:21:36</CreateDate>
    <NodeName Default="Service-body-top.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dfrdk5fs/service-body-top.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>