<?xml version="1.0" encoding="utf-8"?>
<Media Key="714b2fa3-e503-45ec-8f69-06f80bf52dc5" Alias="Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T17:14:56</CreateDate>
    <NodeName Default="Signature.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kgjoteyy/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>