<?xml version="1.0" encoding="utf-8"?>
<Media Key="8286af60-c11c-41dc-97cf-16c69ef0ae86" Alias="statistic.svg" Level="2">
  <Info>
    <Parent Key="274ab130-0bd9-42a9-93ed-915d2ff58935">Services</Parent>
    <Path>/Services/statisticsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T14:17:30</CreateDate>
    <NodeName Default="statistic.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sijciyah/statistic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>