<?xml version="1.0" encoding="utf-8"?>
<Media Key="689307d6-22c0-4f72-82bd-88aeb8e7c8c6" Alias="success-group.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successGroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T21:34:47</CreateDate>
    <NodeName Default="success-group.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/es3ddcw1/success-group.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>