<?xml version="1.0" encoding="utf-8"?>
<Media Key="992a684a-7bcf-4657-9d6e-fe8da73c7f6a" Alias="Tina.svg" Level="2">
  <Info>
    <Parent Key="b4394722-3e33-4368-8e58-a6034bcb5a45">Team Members</Parent>
    <Path>/TeamMembers/Tinasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T16:00:03</CreateDate>
    <NodeName Default="Tina.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xdkjq44u/tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>