<?xml version="1.0" encoding="utf-8"?>
<Content Key="75e22f82-a73b-4cc5-aaf0-95358243a720" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="cf3481ef-63a5-49f7-996d-1134a9df9195">Services</Parent>
    <Path>/Onatrix/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-11T14:19:52</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3a087333-2cb0-4db5-b1ec-e67790b8a9ca">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9eec405f-d8ee-4f85-a5e5-7546715730c3",
      "key": "1cc536ce-9929-4c7a-b16d-70d92e32fa6b",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "75f3e342-8f6b-4ad6-abd3-00c87ddcdf0a",
              "mediaKey": "8286af60-c11c-41dc-97cf-16c69ef0ae86",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "1cc536ce-9929-4c7a-b16d-70d92e32fa6b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1cc536ce-9929-4c7a-b16d-70d92e32fa6b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailEcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailEcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "8340e25e-22ad-44c6-b8ce-16dbffa94e91",
    "mediaKey": "9b02455e-2470-45f4-abdc-01e520c07367",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>