<?xml version="1.0" encoding="utf-8"?>
<Content Key="cdfcfe6b-3b14-4cce-bf66-43dc9d6672c6" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="cf3481ef-63a5-49f7-996d-1134a9df9195">Services</Parent>
    <Path>/Onatrix/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-11T14:20:24</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3a087333-2cb0-4db5-b1ec-e67790b8a9ca">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9eec405f-d8ee-4f85-a5e5-7546715730c3",
      "key": "6aa1c1c1-0acb-4129-8021-0b75e685d884",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a9e00ebf-8cdb-4b69-9f05-aca1d60d5bfa",
              "mediaKey": "8286af60-c11c-41dc-97cf-16c69ef0ae86",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "6aa1c1c1-0acb-4129-8021-0b75e685d884",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6aa1c1c1-0acb-4129-8021-0b75e685d884",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailEcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailEcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "13910c1a-53a2-4e53-98b3-1b0991d637b7",
    "mediaKey": "0e4a0409-513e-4901-ac19-0187e3c44158",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>