<?xml version="1.0" encoding="utf-8"?>
<Content Key="5796e4ec-0fd5-4801-bb97-e8bd087a677a" Alias="Contact" Level="2">
  <Info>
    <Parent Key="41e54d97-bf9f-49d8-b5c1-800533c5138e">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-07T22:42:43</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0d112b97-d1dc-4873-b1c3-5a4487fe810a">ContactPage</Template>
  </Info>
  <Properties>
    <informationTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </informationTitle>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "409b4a49-f5b9-4f0c-9ffc-bc8da27948d5",
      "key": "852846c9-5ac8-4470-8a8e-94bb2435e2d1",
      "udi": null,
      "values": [
        {
          "alias": "contactFormBg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4aafa1ba-b2f1-45a1-bb59-e51fd69182ad",
              "mediaKey": "e45d1eb4-0079-42fe-b445-12265fb75055",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactFormLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "contactFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactFormText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "f82f0054-d941-443f-a2a9-f62bfc2e3ae5",
      "key": "bf81ba17-390d-4c8c-bad0-edb82a32b101",
      "udi": null,
      "values": [
        {
          "alias": "partnerLogos",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9804d84e-1f5c-44f2-aed8-b9c4a625e2af",
              "mediaKey": "8da5cddd-16f1-4a5c-9c3d-4498eb4a9e7a",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "cc862509-7b4f-4818-9c79-9dd3bf827782",
              "mediaKey": "e83380bc-c2d6-482b-aab8-d0a9b9b930e8",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "585232a9-ad46-4e11-8ca5-a6369f090640",
              "mediaKey": "14f3c839-2f5d-4ffd-9a69-de861c8b11c9",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "97b0d062-e3ea-457b-84ca-828803ddc040",
              "mediaKey": "205ab8d5-768a-4d28-8329-998e0802ecbf",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "ab5c3fcc-f365-45cf-a195-919b82af4522",
              "mediaKey": "37f98d09-2f71-4377-ab0e-564e93df46db",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "2681a482-feed-43e0-81c9-f32f8e6461ae",
              "mediaKey": "a6ce07fe-11bf-4d74-a7c6-afd00cde5cf6",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "852846c9-5ac8-4470-8a8e-94bb2435e2d1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bf81ba17-390d-4c8c-bad0-edb82a32b101",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "852846c9-5ac8-4470-8a8e-94bb2435e2d1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "bf81ba17-390d-4c8c-bad0-edb82a32b101",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>