<?xml version="1.0" encoding="utf-8"?>
<Content Key="41e54d97-bf9f-49d8-b5c1-800533c5138e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-11-07T12:36:44</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d282270b-769e-444e-906d-2164c8259966">HomePage</Template>
  </Info>
  <Properties>
    <heroBgImage>
      <Value><![CDATA[[
  {
    "key": "cc8b1ad8-c4e2-4e2a-beca-40b4ec3500a8",
    "mediaKey": "515f931a-5129-4c14-bda0-b9a3d8f9e28c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBgImage>
    <heroLink>
      <Value><![CDATA[[
  {
    "name": "Contact us",
    "target": null,
    "udi": "umb://document/5796e4ec0fd54801bb97e8bd087a677a",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </heroLink>
    <heroText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </heroText>
    <heroTitle>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroTitle>
  </Properties>
</Content>