<?xml version="1.0" encoding="utf-8"?>
<Content Key="41e54d97-bf9f-49d8-b5c1-800533c5138e" Alias="Onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Onatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-11-07T12:36:44</CreateDate>
    <NodeName Default="Onatrix" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d282270b-769e-444e-906d-2164c8259966">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e21f935a-d665-487c-be5e-9e5f3d8ed4e5",
      "key": "5a7b86c2-6fb4-46a5-a60d-fadbf2c95884",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/5796e4ec0fd54801bb97e8bd087a677a",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5a297aea-a267-441c-8792-652c3e6d8aec",
              "mediaKey": "515f931a-5129-4c14-bda0-b9a3d8f9e28c",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "14c339ac-e364-4877-b465-a1e4fc1b620e",
      "key": "d0bb2e58-7a1e-4755-9ad6-ba61336f94c4",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003Cbr\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "84593cde-1111-4d0c-9cf4-24aaa9963e77",
      "key": "f9b03496-5f2d-469d-8f08-76b405390897",
      "udi": null,
      "values": [
        {
          "alias": "aboutBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EABOUT US\u003Cbr\u003EWe have 40 years experience\u003Cbr\u003E\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D\u003Cbr\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cimg src=\u0022\u0022 alt=\u0022Signature.svg\u0022 width=\u0022161\u0022 height=\u002276\u0022 data-udi=\u0022umb://media/714b2fa3e50345ec8f6906f80bf52dc5\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E\u003Cbr\u003ETina Fox - CEO \u0026amp; Founder\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "formTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "formDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "cc50bff9-6b3f-43fa-b355-317ee6397b84",
      "key": "6b1a2559-af31-4b9a-b9a5-2ae65f99beb7",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white-100",
            "value": "#F7F7F7"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "836f2e55-f3c4-4f19-a003-f3e3385183d9",
      "key": "b398b11d-3d2a-462d-9a6d-1dcd5a071e34",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Taxes\nAssurance\nFinancial consulting"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "5a7b86c2-6fb4-46a5-a60d-fadbf2c95884",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d0bb2e58-7a1e-4755-9ad6-ba61336f94c4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f9b03496-5f2d-469d-8f08-76b405390897",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5a7b86c2-6fb4-46a5-a60d-fadbf2c95884",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f9b03496-5f2d-469d-8f08-76b405390897",
        "contentUdi": null,
        "settingsKey": "b398b11d-3d2a-462d-9a6d-1dcd5a071e34",
        "settingsUdi": null
      },
      {
        "contentKey": "d0bb2e58-7a1e-4755-9ad6-ba61336f94c4",
        "contentUdi": null,
        "settingsKey": "6b1a2559-af31-4b9a-b9a5-2ae65f99beb7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>