<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a260e8a-30be-4b04-9ac9-f9221b3f7254" Alias="Projects" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Projects</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-11-15T18:41:40</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d282270b-769e-444e-906d-2164c8259966">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
  </Properties>
</Content>