<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce8ce02b-0a6b-4397-a9a4-ae3f77118833" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="cf3481ef-63a5-49f7-996d-1134a9df9195">Services</Parent>
    <Path>/Onatrix/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-11T14:20:53</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3a087333-2cb0-4db5-b1ec-e67790b8a9ca">ServiceDetail</Template>
  </Info>
  <Properties>
    <letUsKnowSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e52e758b-a829-4689-a26c-98c1132f541e",
      "key": "08ff62ed-3b4c-437d-98fc-4309bada9668",
      "udi": null,
      "values": [
        {
          "alias": "letUsKnowTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "08ff62ed-3b4c-437d-98fc-4309bada9668",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "08ff62ed-3b4c-437d-98fc-4309bada9668",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </letUsKnowSection>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9eec405f-d8ee-4f85-a5e5-7546715730c3",
      "key": "25781990-677f-45d9-ab02-ec1d6259af12",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f11017fc-8e3a-406e-a691-6ee20fc2d2d2",
              "mediaKey": "8286af60-c11c-41dc-97cf-16c69ef0ae86",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "25781990-677f-45d9-ab02-ec1d6259af12",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "25781990-677f-45d9-ab02-ec1d6259af12",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailEcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailEcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "91599fa3-fdd4-47f6-9d80-82eeb490cdc8",
    "mediaKey": "dd650059-259e-448c-a37c-fb4703a39a2d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>