<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf3481ef-63a5-49f7-996d-1134a9df9195" Alias="Services" Level="2">
  <Info>
    <Parent Key="41e54d97-bf9f-49d8-b5c1-800533c5138e">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-08T11:45:33</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dcf45c1f-aa2c-4fbb-b89d-9c419c22c75f">ServicePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "14c339ac-e364-4877-b465-a1e4fc1b620e",
      "key": "50d7b523-1e56-49b1-b5ac-5b533f9b6055",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003Cbr\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "cc50bff9-6b3f-43fa-b355-317ee6397b84",
      "key": "31c9af4f-dc4a-4536-a394-688343867fca",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "50d7b523-1e56-49b1-b5ac-5b533f9b6055",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "50d7b523-1e56-49b1-b5ac-5b533f9b6055",
        "contentUdi": null,
        "settingsKey": "31c9af4f-dc4a-4536-a394-688343867fca",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>