<?xml version="1.0" encoding="utf-8"?>
<Content Key="2df1b8c6-b3c7-4683-b0c8-402fb7899f11" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="cf3481ef-63a5-49f7-996d-1134a9df9195">Services</Parent>
    <Path>/Onatrix/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-11T14:18:18</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3a087333-2cb0-4db5-b1ec-e67790b8a9ca">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9eec405f-d8ee-4f85-a5e5-7546715730c3",
      "key": "c6580670-5f72-4e16-92f4-f29c1ecb461e",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "11e510d8-0140-4b4e-a76c-d904f30b842e",
              "mediaKey": "8286af60-c11c-41dc-97cf-16c69ef0ae86",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c6580670-5f72-4e16-92f4-f29c1ecb461e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c6580670-5f72-4e16-92f4-f29c1ecb461e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailEcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailEcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "6fc80b50-aa8d-45dc-9610-6dd22b664d87",
    "mediaKey": "8286af60-c11c-41dc-97cf-16c69ef0ae86",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>