<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9bd4e5f-5cd6-44ff-931b-f9a8b0a58811" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="cf3481ef-63a5-49f7-996d-1134a9df9195">Services</Parent>
    <Path>/Onatrix/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-11T14:19:23</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3a087333-2cb0-4db5-b1ec-e67790b8a9ca">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9eec405f-d8ee-4f85-a5e5-7546715730c3",
      "key": "f9429251-43fa-456e-a68e-51a328e80930",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "93bf3a7d-5602-4aa0-b909-a2664fe9a0ab",
              "mediaKey": "8286af60-c11c-41dc-97cf-16c69ef0ae86",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f9429251-43fa-456e-a68e-51a328e80930",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f9429251-43fa-456e-a68e-51a328e80930",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailEcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailEcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "8841a1a9-7a15-408d-b950-96eaaa2685db",
    "mediaKey": "87c133ad-1387-45b6-8ecb-d570508d78b5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>