@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IContactInformation>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


@{

    var siteSettings = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "siteSettings");

    var address = siteSettings?.Value<string>("contactAddress");
    var phone = siteSettings?.Value<string>("contactPhone");
    var email = siteSettings?.Value<string>("contactEmail");

}


<section class="let-us-know">
    <div class="container let-us-know-grid">

        <div class="images-column">
            <img src="/images/contact/contactUs-dots.svg" alt="Dots" class="bg-image dots">
            <img src="/images/contact/contactUs-gray.svg" alt="Gray" class="bg-image gray">
            <img src="/images/contact/contactUs-human.svg" alt="Human" class="bg-image human">
        </div>


        <div class="contact-column">
        
                <h2 class="contact-header">Let us know about your next project</h2>


            <ul class="contact-info">

                @if (!string.IsNullOrWhiteSpace(address))
                {
                    <li class="contact-item">
                        <i class="fa-solid fa-location-dot"></i>

                        <div class="contact-text">
                            <p>Office Location</p>
                            <span>@address</span>
                        </div>
                    </li>
                }

                @if (!string.IsNullOrWhiteSpace(phone))
                {
                    <li class="contact-item">
                        <i class="fa-solid fa-phone"></i>

                        <div class="contact-text">
                            <p>Phone Number</p>
                            <span><a href="tel:@phone">@phone</a></span>
                        </div>
                    </li>
                }

                @if (!string.IsNullOrWhiteSpace(email))
                {
                    <li class="contact-item">
                        <i class="fa-solid fa-envelope"></i>

                        <div class="contact-text">
                            <p>E-mail Address</p>
                            <span><a href="mailto:@email">@email</a></span>
                        </div>
                    </li>
                }

            </ul>

        </div>

    </div>
</section>