@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPageHeader>
@using Umbraco.Cms.Core.PublishedCache
@using Umbraco.Cms.Core.Routing
@using Umbraco.Cms.Core.Services.Navigation

@inject IPublishedContentCache PublishedContentCache
@inject IDocumentNavigationQueryService DocumentNavigationQueryService
@inject IPublishedUrlProvider PublishedUrlProvider


@{
    var selection = Model.Ancestors().ToArray();
    var homePageDisplayName = "Home";
    var isFirstItem = true;
}




<section class="hero-section relative overflow-hidden">

    <img src="/images/Rectangle-left.svg"
         class="absolute bottom-0 left-0 w-auto h-auto z-0" />

    <img src="/images/Rectangle-right.svg"
         class="absolute top-0 right-0 w-auto h-auto z-0" />

    <div class="container relative z-10">
        <h1>@Model.PageTitle</h1>

        @if (selection?.Length > 0)
        {
            <div class="breadcrumb-wrapper">
                <ul class="breadcrumb">
                    @foreach (var item in selection.OrderBy(x => x.Level))
                    {
                        var displayName = isFirstItem ? homePageDisplayName : item.Name;
                        <li>
                            <a href="@item.Url(PublishedUrlProvider)">@displayName</a>
                            <i class="breadcrumb-icon fa-solid fa-angle-right"></i>
                        </li>
                        isFirstItem = false;
                    }
                    <li class="active">
                        <p class="breadcrumb-active">
                            @Model.Name
                        </p>
                    </li>
                </ul>
            </div>
        }
    </div>
</section>
