@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
	var rootContent = Umbraco.ContentAtRoot();

	var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();

	var contactAddress = siteSettings?.ContactAddress ?? "Ingen adress angiven";
}

<div class="topbar">
    <div class="container">
        <p>@contactAddress</p>
        <div class="social-links">
            @if (siteSettings?.PlatformList != null)
            {
                foreach (var item in siteSettings.PlatformList)
                {
                    if (item.Content is SocialMediaItem mediaItem)
                    {
                        <a href="@mediaItem.PlatformAccountUrl" target="_blank">
                            <i class="fa-brands fa-@mediaItem.PlatformName!.ToLower()"></i>
                        </a>
                    }
                }
            }
        </div>
    </div>
</div>