<?xml version="1.0" encoding="utf-8"?>
<DataType Key="711ee0ea-3ace-4613-9033-ef5340950897" Alias="Contact Page - Sections" Level="1">
  <Info>
    <Name>Contact Page - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>