<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67766648-e1e9-477c-8b7e-71fd45fab8ca" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e21f935a-d665-487c-be5e-9e5f3d8ed4e5",
      "backgroundColor": "#00000003",
      "iconColor": "#00000003"
    },
    {
      "contentElementTypeKey": "14c339ac-e364-4877-b465-a1e4fc1b620e",
      "settingsElementTypeKey": "cc50bff9-6b3f-43fa-b355-317ee6397b84",
      "backgroundColor": "#00000003",
      "iconColor": "#00000003"
    },
    {
      "contentElementTypeKey": "b2d404c8-1e9c-4707-9b63-7c4f795454b9"
    },
    {
      "contentElementTypeKey": "84593cde-1111-4d0c-9cf4-24aaa9963e77",
      "settingsElementTypeKey": "836f2e55-f3c4-4f19-a003-f3e3385183d9"
    },
    {
      "contentElementTypeKey": "ccd26bf2-f624-4253-ab4c-b1c52aa1f45d"
    }
  ]
}]]></Config>
</DataType>