<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1164f124-a0a1-49be-87bf-a80171a0c806" Alias="Review Section - Review Items" Level="1">
  <Info>
    <Name>Review Section - Review Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "14a71f85-7668-41e1-b093-e6f00e0ad2e3"
    }
  ]
}]]></Config>
</DataType>