<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1fa95331-89db-4f5e-8c80-f7f218099b75" Alias="Review Item - Stars - Numeric Property Editor UI" Level="1">
  <Info>
    <Name>Review Item - Stars - Numeric Property Editor UI</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>