<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a578fade-9d2d-4229-b889-51701facf1b4" Alias="Service Detail - Let Us Know" Level="1">
  <Info>
    <Name>Service Detail - Let Us Know</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e52e758b-a829-4689-a26c-98c1132f541e"
    }
  ]
}]]></Config>
</DataType>