<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe3a705f-3cfb-48f0-a6c1-78b0b81ee8dc" Alias="Service Detail -  - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail -  - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5cbdfc75-48e7-45ff-9242-99e44c1f2bbc"
    }
  ]
}]]></Config>
</DataType>