<?xml version="1.0" encoding="utf-8"?>
<DataType Key="21f16426-91fc-4449-9cd0-840b17352d21" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6e7fd513-20aa-4d36-a7c6-6ffa86ceff90",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>