<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eef8b578-b6e4-474f-9dbd-d130b8e90387" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9e65987c-8503-44c2-bbd6-78c7e7ed7412",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>