<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2226bdbd-02cd-42b9-a999-846a74d49e20" Alias="formSubmissions" Level="2">
  <Info>
    <Name>Form Submissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5e400af2-4b7b-4996-bb75-f622431f5c74" SortOrder="0">callbackRequest</ContentType>
    <ContentType Key="c8d38029-6682-474d-9b47-217cad579f13" SortOrder="1">questionRequest</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>